.app-container {
  padding-top: 5rem;
  position: relative;
}

.top {
  flex-direction: column;
  grid-template-columns: auto 30rem auto;
  width: 100%;
  height: 10rem;
  grid-template-areas: "title search .";
  position: sticky;
}

.search-panel {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.search-panel .search {
  border: 0px solid transparent;
  transition-property: box-shadow background border;
  transition-duration: 200ms;
  padding: 0 2em;
  background: #f1f1f1;
  width: 30rem;
  height: 2rem;
  border-radius: 1rem;
  margin: auto;
}
.search-panel .search:hover {
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 0 3px #d0eae7;
  background: white;
}
.search-panel .search:focus {
  outline: none;
  background: white;
  border: 1px solid #209b8d;
  box-shadow: 0 0 0 3px rgba(37, 192, 159, 0.404);
}
.search-panel .search:active {
  border: 1px solid #f0f0f0;
  background: white;
  box-shadow: none;
}
.search-panel .filter-tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0rem;
  height: 0;
  border: 1px solid transparent;
  transition-property: min-width border height margin;
  transition-duration: 1000ms;
}
.search-panel .filter-tags-container.visible {
  margin: 2rem auto 0;
  height: 3em;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  min-width: 30rem;
  max-width: min-content;
}

.title-panel {
  grid-area: title;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  pointer-events: none;
}
.title-panel h4 {
  color: #5f5f5f;
}
.title-panel h1 {
  color: #209b8d;
  font-family: "Noto Serif", serif;
  font-size: 4em;
}

.cards-container {
  padding: 10% 10% 0 10%;
  display: grid;
  gap: 2rem;
  width: 1fr;
  justify-self: stretch;
}

@media (min-width: 1491px) {
  .cards-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 1490px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 1110px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 730px) {
  .cards-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
