.card-container {
  padding: 1em;
  transition-property: box-shadow transform;
  transition-duration: 200ms;
}
.card-container:hover {
  box-shadow: 0 0 0 3px #209b8d;
  transform: scale(1.1);
}
.card-container img {
  height: 10.5em;
  width: 100%;
  object-fit: cover;
}
.card-container .details {
  margin-top: 2rem;
}
.card-container .details .title {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  color: #08ac98;
  font-weight: 700;
}
.card-container .details .title:visited {
  color: #246e66;
  font-weight: 400;
}
.card-container .details .title:hover {
  text-decoration: underline;
}
.card-container .details .author {
  font-size: 0.8rem;
  display: flex;
  margin-top: 0.5rem;
}
.card-container .details .author p {
  margin-right: 0.5em;
}
.card-container .description {
  margin-top: 0.5rem;
}
.card-container .tags-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: 3.9rem;
  overflow-y: hidden;
  position: relative;
}
.card-container .tags-list .shadow-box {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -2.6rem 1.3rem -1.3rem white;
  pointer-events: none;
}
.card-container .tags-list li {
  height: 1.3rem;
  border-radius: 0.65rem;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  margin: 0.26rem;
  border: 0px solid transparent;
  transition-property: box-shadow background-color border;
  transition-duration: 200ms;
  cursor: pointer;
}
.card-container .tags-list li:hover {
  box-shadow: 0 0 0 3px #d0eae7;
}
.card-container .tags-list li:active {
  box-shadow: 0 0 0 1px #f0f0f0;
  background: white;
}
.card-container .tags-list li:focus {
  outline: none;
  border: 1px solid rgba(37, 192, 159, 0.404);
  box-shadow: inset 0 0 0 3px #209b8d;
}
.card-container .tags-list li .tag-text {
  color: #209b8d;
  font-size: 0.65rem;
  margin: 0 0.65rem;
}

button {
  border-radius: 50%;
  border: none;
  background-color: white;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0.65rem;
  color: rgba(99, 99, 99, 0.863);
  cursor: pointer;
  transition-property: background-color border;
  transition-duration: 200ms;
  border: 0px solid transparent;
  box-shadow: inset 0 0 0 3px #f0f0f0;
}
button:hover {
  color: red;
  box-shadow: 0 0 0 3px #d0eae7;
}
button:active {
  box-shadow: 0 0 0 1px #f0f0f0;
  background: white;
}
button:focus {
  outline: none;
}
