* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body ::selection {
  background: rgba(37, 192, 159, 0.404);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #209b8d;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #246e66;
}

a {
  color: #209b8d;
  text-decoration: none;
}
a:visited {
  color: grey;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
