@use 'variables' as var;

@mixin input-style--button {
  border: 0px solid transparent;

  transition-property: box-shadow background-color border;
  transition-duration: 200ms;

  &:hover {
    box-shadow: 0 0 0 3px var.$light-green1;
  }

  &:active {
    box-shadow: 0 0 0 1px var.$grey2;
    background: white;
  }

  &:focus {
    outline: none;

    border: 1px solid var.$light-green2;
    box-shadow: inset 0 0 0 1em var.$light-green2;
  }

  &:disabled {
    border:none;
    box-shadow: inset 0 0 0 1em var.$light-green2;
    cursor: not-allowed;
  }
}


@mixin input-style--text {
  border: 0px solid transparent;

  transition-property: box-shadow background border;
  transition-duration: 200ms;

  &:hover {
    border: 1px solid var.$grey2;
    box-shadow: 0 0 0 3px var.$light-green1;
    background: white;
  }


  &:focus {
    outline: none;
    background: white;
    border: 1px solid var.$green;
    box-shadow: 0 0 0 3px var.$light-green2;
  }

  &:active {
    border: 1px solid var.$grey2;
    background: white;
    box-shadow: none;
  }
}

@mixin truncate ($num-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  -webkit-line-clamp: $num-lines;
  -webkit-box-orient: vertical;
}