$card-width: 15em;
$tags-size: 1.3rem;

$grey1: rgb(214, 214, 214);
$grey2: rgb(240, 240, 240);
$green: rgb(32, 155, 141);
$light-green1: rgb(208, 234, 231);
$light-green2: rgba(37, 192, 159, 0.404);
$dark-green: rgb(36, 110, 102);