@use 'variables'as var;
@use 'mixins'as mix;

.card-container {
  padding: 1em;
  transition-property: box-shadow transform background width height;
  transition-duration: 200ms;
  background: transparent;

  &:hover {
    box-shadow: 0 0 0 3px var.$light-green2;
    transform: scale(1.1);
  }

  &.focused {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 2rem;
    transition: none;

    &:hover {
      transition-duration: 400ms;
      transform: unset;
    }

    figcaption {
      display: flex;
      flex-direction: column;
    }

    .close-focused-button {
      @include mix.input-style--button;
      position: fixed;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      margin: 1rem;
      padding: 0;
      right: 0;
      top: 0;
    }

    .details {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      margin: 0;

      .title {
        margin-right: 1em;
        font-size: 2rem;
      }
    }

    .description-tags-wrapper {
      overflow: auto;
    }

    .description-container {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      font-size: 1rem;
    }

    .tags-list {
      display: flex;
      min-height: 10rem;
      max-height: 100%;
      overflow-y: scroll;

    }

    .shadow-box {
      visibility: hidden;
    }

    img {

      object-fit: contain;
      overflow: auto;
    }

    // LANDSCAPE
    @media (min-width: 120vh) {
      figcaption {
        min-width: 20rem;
        max-width: 20rem;
        margin-left: 2rem;
        padding-left: 2rem;
        border-left: 1px solid var.$grey1;
        position: relative;
      }

      .description-tags-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 100%;
      }

      .description-container {
        height: fit-content;
        max-height: 100%;
      }

      .tags-list-wrapper {
        margin-top: 2rem;
        border-top: 1px solid var.$grey1;
      }

      .tags-list {
        margin-top: 2rem;
      }
    }

    // PORTRAIT
    @media (max-width: 120vh) {
      flex-direction: column;

      .title {
        @include mix.truncate(1);
        padding-top: 2rem;
        ;
      }

      .description-tags-wrapper {
        display: flex;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid var.$grey1;
      }

      .tags-list-wrapper {
        margin-left: 2rem;
        border-left: 1px solid var.$grey1;
      }

      .description-container {
        margin-top: 0;
        min-height: 100%;
      }

      .tags-list {
        margin-top: 0;
        margin-left: 2rem;
        min-width: 10rem;
        max-width: 20rem;
      }
    }
  }

  img.clickable {
    cursor: zoom-in;
  }

  &.unfocused {
    img {
      height: var.$card-width;
      width: 100%;
      object-fit: cover;
    }
  }
}

figure {
  background: white;
}

.details {
  margin-top: 2rem;

  .title {
    @include mix.truncate(2);
    text-transform: uppercase;
    font-weight: 700;
  }

  .author {
    font-size: 0.8rem;
    display: flex;
    margin-top: 0.5rem;

    i {
      margin-right: 0.5em;
    }

    a {
      @include mix.truncate(1);
    }
  }
}

.description-container {
  @include mix.truncate(3);
  height: 3rem;
  margin-top: 2rem;
  font-size: 0.7em;
}

.tags-list {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: var.$tags-size * 3;
  overflow-y: hidden;
  position: relative;

  .shadow-box {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 var.$tags-size*-2 var.$tags-size var.$tags-size*-1 rgb(255, 255, 255);
    pointer-events: none;
  }
}