@use 'variables'as var;
@use 'mixins'as mix;

.card-container {
  padding: 1em;
  transition-property: box-shadow transform background width height;
  transition-duration: 200ms;
  background: transparent;

  &:hover {
    box-shadow: 0 0 0 3px rgba(37, 192, 159, 0.404);
    transform: scale(1.1);
  }

  &.focused {
    // transition: none;
    position: absolute;
    left: 0;
    top: 0;
    // transform: translate(-50%, -50%);
    width: 100vw;
    min-height: 100vh;
    box-shadow: none;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    &:hover {
      // transition-property: box-shadow transform background width height;
      transition-duration: 400ms;
      // transition: none;
      transform: unset;
    }


    figure {
      margin: auto 0;
      position: relative;
      padding: 1em;
      // border: 3px solid green;
      display: flex;
      flex-direction: column;
      max-width: min-content;
      box-shadow: 0 0 0 3px rgba(37, 192, 159, 0.404);


      img {
        // display: block;
        // position:relative;
        width: auto;
        height: auto;
        // object-fit: contain;
      }

      .description-container {
        // visibility: hidden;
        display: flex;
        flex-direction: column;
        height:max-content
      }

      .tags-list {
        // flex-wrap: wrap;
        display:flex;
        // width: 100%;
        // -height: 10em;
        max-height: 10em;
        overflow-y: scroll;
      }

      .shadow-box {
        visibility: hidden;
      }
    }
  }

  &.unfocused {
    img {
      height: var.$card-width;
      width: 100%;
      object-fit: cover;
    }

    // figcaption{
    //   padding: 0 1rem;
    // }
  }

  figure {
    // border: 3px solid red;
    background: white;
  }


  .details {
    margin-top: 2rem;

    .title {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
    }

    .author {
      font-size: 0.8rem;
      display: flex;
      margin-top: 0.5rem;

      p {
        margin-right: 0.5em;
      }
    }
  }

  .description-container {
    height: 3rem;
    // border: 1px solid green;
    margin-top: 2rem;
    overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.7em;
  }

  .tags-list {
    margin-top: 1em;
    // list-style: none;
    display: flex;
    // // display: block;
    flex-wrap: wrap;
    // max-width: min-content;
    padding: 0;
    height: var.$tags-size * 3;
    overflow-y: hidden;
    position: relative;

    .shadow-box {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 var.$tags-size*-2 var.$tags-size var.$tags-size*-1 rgb(255, 255, 255);
      // border: 1px solid blue;
      pointer-events: none;
    }

  }
}


button {
  border-radius: 50%;
  border: none;
  // outline: none;
  background-color: rgb(255, 255, 255);
  width: var.$tags-size;
  height: var.$tags-size;
  font-size: var.$tags-size *0.5;
  color: rgba(99, 99, 99, 0.863);



  cursor: pointer;

  @include mix.input-style--button;
}