@use 'variables' as var;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


body {
  // background:
  // radial-gradient(ellipse at -100% -100%,#F3DEDB #6EA1C0, transparent);//,
  // radial-gradient(ellipse at 200% 200%, #84DED4, transparent);
  // radial-gradient(ellipse at 80% 600%, #F3DEDB, transparent);
  ::selection {
    background: var.$light-green2;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  // background: #f5f4fe;
  background: transparent;
  border-radius: 2px;
  // height: 3px;
  // width: 3px;

}

::-webkit-scrollbar-thumb {
  background: var.$green;
  // border-radius: 2px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var.$dark-green;
}

a {
  color: var.$green;
  text-decoration: none;

  &:visited {
    color: grey;
    font-weight: 400;

  }

  &:hover {
    text-decoration: underline;
  }
}

// html {
//   font-size: 62.5%;
// }