* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


body {
  ::selection {
    background: rgba(37, 192, 159, 0.404);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f4fe;
  border-radius: 2px;
  // height: 3px;
  // width: 3px;

}

::-webkit-scrollbar-thumb {
  background: rgb(32, 155, 141);
  // border-radius: 2px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 117, 109);
}

a {
  color: rgb(8, 172, 152);

  &:visited {
    color: rgb(36, 110, 102);
    font-weight: 400;

  }

  &:hover {
    text-decoration: underline;
  }
}

// html {
//   font-size: 62.5%;
// }