@use 'variables' as var;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


body {
  ::selection {
    background: var.$light-green2;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var.$green;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var.$dark-green;
}

a {
  color: var.$green;
  text-decoration: none;

  &:visited {
    color: grey;
    font-weight: 400;
  }

  &:hover {
    text-decoration: underline;
  }
}