@use 'variables'as var;
@use 'mixins'as mix;

li {
  height: var.$tags-size;
  border-radius: var.$tags-size*0.5;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  margin: var.$tags-size * 0.2;
  cursor: pointer;

  @include mix.input-style--button;

  .tag-text {
    color: var.$green;
    font-size: var.$tags-size*0.5;
    margin: 0 var.$tags-size*0.5;

  }

  button {
    @include mix.input-style--button;

    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: var.$tags-size;
    height: var.$tags-size;
    font-size: var.$tags-size *0.6;
    color: grey;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }
}